.cardconteiner {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin: 0px 10px;
    width: 39%;

}

.btn{
    background-color: #000000;
    border: none;
    color: #ffffff;

}

.btn:hover {
    background-color: #85A094;
}

.nameTemp {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   gap: 2%;
   font-size: 50px;
   
}

.details {
    display: flex;
    justify-content: space-evenly;
}



.test {
    display: flex;
    justify-content: right;
}

.celcius {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1px;
    font-size: small;
    margin-top: 18px;
}

.btns {
    display: flex;
    justify-content: right;
    gap: 1%;
}

.prueba {
   padding: 0x;
   margin-top: -4%;
    
}

.name {
    margin-left: auto;
}

